.keypad-container {
  background: var(--keypad-background);
  display: flex;
  flex-direction: row;
  height: 76%;
  padding: 2%;
  width: 96%;
}

.numbers-container {
  background: lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 75%;
}

.actions-container {
  background: darkgray;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
}