.keypad-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: var(--keypad-height);
    padding: 2%;
    width: var(--keypad-width);
}

.numbers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
    width: 75%;
}

.operators-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 25%;
}

.submit-container {
    height: 20%;
    width: 100%;
}